*{
    margin: 0;padding: 0;
}
.body{
    border-top: 7px solid #A091B1;
    width: 100%;
    background-color: white;
    min-height: 1394px;
    border-bottom: 7px solid #A091B1;
}
.wrapper{
    width: 80%;
    min-height: 1394px;
    margin: 0 auto;
}
header{
    width: 100%;
    min-height: 130px;
}
header img{
    width: 70px;
    min-height: 70px;
    float: left;
    padding-top: 30px;
}
header h4{
    float: left;
    font-family: sans-serif;
    color: #AD9EBF;
    font-size: 39pt;
    font-weight: normal;
    padding-top: 36px;
    padding-left: 15px;
}
.navbar{
    width: 70%;
    float: right;
    
}
.navbar ul{
    list-style: none;
    float: right;
}
.navbar ul li{
    display:inline-block;
    
}
.navbar ul li a img{
   width: 20px;
   min-height: 20px;
    display: block;
    padding-top: 4px;
    padding-right: 10px
}
.navbar ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 19pt;
    color: #656565;
    text-align: right;
    display: block;
    padding-top: 50px;
    padding-left: 50px;
}
.baner{
    
}
.banner_caption{
    width: 100%;
    min-height: 485px;
    background: url(../images/banner.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
 .left_indicator{
    position: absolute;
    left: 10%;
     top: 60%;
    
}
.right_indicator{
    position: absolute;
    margin-top: 10px;
    right: 10%;
    top: 60%;
}
.banner_caption_data{
    width: 100%;
    min-height: 510px;
    margin: 0 auto;
}
.banner_data{
    width: 90%;
    min-height: 134px;
    text-align: center;
    border: 1px solid #BFBFBF;
    margin-top: 40px;
    margin-bottom: 40px;
    border-left: none;
    border-right: none;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 23pt;
    font-style: italic;
    margin-top: auto 0;
    line-height: 45px;
}
.banner_main_data{
    width: 100%;
    min-height: 275px;
  
}
.banner_image{
   width: 30%;
   min-height:310px;
   background: url(..//images/shadow.gif);
  background-repeat: no-repeat;
   position: relative;
    float: left;
    overflow: hidden;
}
.main_shadow{

    width: 255px;
    min-height: 255px;
    position: absolute;
    left: 8%;
    top: 9%;
}

.head_parag{
    width: 70%;
    min-height: 310px;
    float: right;
}
.head_parag h2{
    font-family: inherit;
    font-size: 26pt;
    color: #4A4A4A;
    line-height: 50px;
    padding-top: 20px;
}
#main_paragh{
    font-family: sans-serif;
    font-size: 14pt;
    color: #4A4A4A;
    line-height: 30px;
}
.read_more{
    font-family: sans-serif;
    font-style: italic;
    line-height: 30px;
    font-size: 12pt;
    color: #505050;
    float: right;
}
.wrapper_footer{
    width: 100%;
    min-height: 40px;
}
.footer_heading{
    width: 100%;
}
.footer_heading h1{
    font-family: sans-serif;
    font-size: 19pt;
    font-weight: normal;
    color: black;
    line-height: 100px;
}
.footer_heading h1 span{
    font-weight: bold;
}
.upper_foteer a{
    width: 25%;
    height: 70px;
    float: left;
    box-sizing: border-box;
    background: url(../images/upper-footer.gif);
    border-right: 2px solid #c6c5c5;transition: .8s
   
}
.upper_foteer img{
    padding: 17px 40px;
}
.upper_footer a:last-child {
    border: none;
}
.footer_sect { 
    min-height: 40px;
    background-color: #E4E4E4;
    box-sizing: border-box;}

.footer_text {
    float: left
}
.footer_text p {  
    color: #6f6c6c;
    padding: 29px 0px;
}

.social_icon { 
    float: right;    
    padding: 25px 0px;
}

.fa.fa-facebook-square { 
    font-size: 31px;
    padding-right: 5px;
    color: #846c9f;
}

.fa.fa-twitter-square {
    font-size: 31px;
    color: #846c9f;
}